/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.page{
    height: 100%;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page__main {
    flex-grow: 1;
  }

img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}