.title{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
@media (min-width: 320px){

    .section-advantages__title{
        font-size: 24px;
        line-height: 37px;
        text-transform: uppercase;
        padding: 30px 0 29px 90px;
    }
    .section-example__title{
        font-size: 36px;
        line-height: 40px;
        padding-bottom: 40px; 
        padding-top: 25px;
    }
    .section-products__title{
        font-size: 36px;
        line-height: 36px;
        padding: 27px 0 41px 20px;
    }
}
@media (min-width: 768px){
    .section-advantages__title{
        font-size: 36px;
        line-height: 36px;
        text-transform: uppercase;
        padding: 77px 0 24px 53px;
    }
    .section-example__title{
        font-size: 60px;
        line-height: 60px;
        padding-bottom: 60px;        
    }
    .section-products__title{
        font-size: 60px;
        line-height: 60px;
        padding: 65px 0 84px 30px;
    }
}
@media (min-width: 1440px){
    .section-advantages__title{
        font-size: 36px;
        line-height: 36px;
        text-transform: uppercase;
        padding: 77px 0 73px 214px;
    }
    .section-example__title{
        font-size: 60px;
        line-height: 60px;
        padding-bottom: 76px;        
    }
    .section-products__title{
        font-size: 60px;
        line-height: 60px;
        padding: 74px 0 84px 110px;
    }
}