/* здесь используйте глобальные переменные */
$basic-green: #68B738;
$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #F2F2F2;
$special_grey-3: #EBEBEB;
$special_grey: #CDCDCD;
$special_grey-2: #666666;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$status_error: #FF8282;
$basic_green-2: #5EAA2F;
$special-grey-border: #D9D9D9;
$special-grey-border-2: #E6E6E6;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;