.address {
  position: relative;
}

.address__wrapper {
  @media (min-width: $tablet-width) {
    background-color: $basic-white;
  }
}


.address__wrapper-catalog {
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
  }
}


.address__map iframe {
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.address__info {
  min-height: 112px;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 628px;
    height: 200px;
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: $basic-white;
    width: 565px;
    height: 199px;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 78px;
  }
}

.address__text {
  font-family: "oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 26px;
    width: 180px;
  }
}

.address__text-adress {
  font-family: "lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 140px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 157px;
    padding-bottom: 19px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: start;
  }
}
