@media (min-width: 320px) and (max-width: 768px){
    .address__map iframe{
        width: 320px;
        height: 362px;
    }
    .address__catalog{
        background-color: $basic-grey;
    }
    .address__info{
        width: 320px;
        min-height: 112px;
        display: flex;
        justify-content: space-between;
        padding-top: 26px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 768px) and (max-width: 1440px){
    .address__map iframe{
        width: 768px;
        height: 400px;
    }
    .address__catalog{
        background-color: $basic-grey;
    }
    .address__info{
        width: 768px;
        height: 200px;
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
        padding-left: 70px;
        padding-right: 70px;
    }

}
@media(min-width: 1440px){
    .address--wraper{
        position: relative;
    }
    .address__map iframe{
        width: 1440px;
        height: 400px;
    }
    .address__info{
        position: absolute;
        top: 95px;
        left: 110px;
        background-color: $basic-white;
        width: 565px;
        height: 199px;
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
        padding-left: 80px;
        padding-right: 78px;
    }
}
