
@media (min-width: 320px) and (max-width: 768px){
    .section-advantages__list-advantages{
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
        width: 280px;
    }
    .section-advantages__item-advantages{
        background-color: $basic-grey;
        padding-bottom: 18px;
        margin-bottom: 20px;
    }
    .section-advantages__link{
        font-size: 16px;
        line-height: 16px;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        color: $basic-black;
        text-transform: uppercase;
        padding: 15px 0 0 20px;

        &-svg{
            margin-left: 10px;
            margin-bottom: 3px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1440px){
    .section-advantages__list-advantages{
        display: flex;
        flex-wrap: wrap;
        width: 708px;
        margin-left: 30px;
    }
    .section-advantages__item-advantages{
        background-color: $basic-grey;
        padding-bottom: 53px;
        margin-bottom: 20px;
    }
    .section-advantages__link{
        font-size: 20px;
        line-height: 30px;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        color: $basic-black;
        text-transform: uppercase;
        padding: 0 0 0 52px;

        &-svg{
            margin-left: 10px;
            margin-bottom: 3px;
        }
    }
}
@media (min-width: 1440px) {
    .section-advantages__list-advantages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
   }
    .section-advantages__item-advantages{
    background-color: $basic-grey;
    width: 570px;
    padding-bottom: 55px;
    }
    .section-advantages__link{
        font-size: 20px;
        line-height: 30px;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        color: $basic-black;
        text-transform: uppercase;
        padding: 0 0 55px 52px;

        &-svg{
            margin-left: 10px;
            margin-bottom: 3px;
        }
    }
}