.loss {
    background-image: url("../../icons/stack.svg#cat_back-2");
    background-repeat: no-repeat;
    background-size: 50px 53px;
    background-position: top 20px left 21px;

    @media (min-width: $tablet-width) {
        background-size: 200px 211px;
        background-position: top 81px right 63px;
    }

    @media (min-width: $desktop-width) {
        background-size: 120px 106px;
        background-position: top 41px left 42px;
    }
}

.weight {
    background-image: url("../../icons/stack.svg#cat_back-1");
    background-repeat: no-repeat;
    background-size: 67px 50px;
    background-position: top 24px left 13px;

    @media (min-width: $tablet-width) {
        background-size: 268px 225px;
        background-position: top 83px right 30px;
    }

    @media (min-width: $desktop-width) {
        background-size: 134px 100px;
        background-position: top 47px left 33px;
    }
}