@media(min-width: 768px) and (max-width: 1440px){
   .product-card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-left: 20px;
    width: 708px;
    } 
   .product-card-item{
    width: 324px;
    min-height: 511px;
    background: linear-gradient(180deg, $basic-white 20%, $basic-grey 0%);
   }
}