@media (min-width: 320px) and (max-width: 768px) {
    .leaf {
        background-image: url("../../icons/stack.svg#icon_leaf");
    }

    .powder {
        background-image: url("../../icons/stack.svg#icon-powder");
    }

    .eat {
        background-image: url("../../icons/stack.svg#icon_eat");
    }

    .time {
        background-image: url("../../icons/stack.svg#icon-time");
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    .leaf {
        background-image: url("../../icons/stack.svg#icon_leaf");
    }

    .powder {
        background-image: url("../../icons/stack.svg#icon-powder");
    }

    .eat {
        background-image: url("../../icons/stack.svg#icon_eat");
    }

    .time {
        background-image: url("../../icons/stack.svg#icon-time");
    }

    .one {
        background-image: url("../../icons/stack.svg#one");
        background-repeat: no-repeat;
        background-size: 112px 240px;
        background-position: left 110px top 40px;
    }

    .two {
        background-image: url("../../icons/stack.svg#two");
        background-repeat: no-repeat;
        background-size: 134px 240px;
        background-position: left 110px top 40px;
    }

    .fhree {
        background-image: url("../../icons/stack.svg#three");
        background-repeat: no-repeat;
        background-size: 134px 240px;
        background-position: left 110px top 40px;
    }

    .four {
        background-image: url("../../icons/stack.svg#four");
        background-repeat: no-repeat;
        background-size: 134px 240px;
        background-position: left 110px top 40px;
    }
}

@media (min-width: 1440px) {
    .leaf {
        background-image: url("../../icons/stack.svg#icon_leaf");
    }

    .powder {
        background-image: url("../../icons/stack.svg#icon-powder");
    }

    .eat {
        background-image: url("../../icons/stack.svg#icon_eat");
    }

    .time {
        background-image: url("../../icons/stack.svg#icon-time");
    }

    .one {
        background-image: url("../../icons/stack.svg#one");
        ;
        background-repeat: no-repeat;
        background-size: 112px 230px;
        background-position: left 105px top 40px;
    }

    .two {
        background-image: url("../../icons/stack.svg#two");
        background-repeat: no-repeat;
        background-size: 134px 230px;
        background-position: left 112px top 40px;
    }

    .fhree {
        background-image: url("../../icons/stack.svg#three");
        background-repeat: no-repeat;
        background-size: 134px 230px;
        background-position: left 114px top 40px;
    }

    .four {
        background-image: url("../../icons/stack.svg#four");
        background-repeat: no-repeat;
        background-size: 134px 230px;
        background-position: left 120px top 40px;
    }
}