.section-details__stageges{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 768px){
    .section-details{
        width: 280px;
        margin-left: 20px;
    }
    .section-details__stage{
        width: 280px;
        min-height: 60px;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    .section-details__icon{       
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: center;
        background-color: $basic-green;
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1440px){
    .section-details__stageges{
        margin-left: 30px;
        width: 708px;
    }
    .section-details__stage{
        width: 246px;
        min-height: 280px;
        margin-bottom: 37px;
    }
    .section-details__icon{
        margin-top: 40px;        
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: center;
        background-color: $basic-green;
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 1440px){
    .section-details{
        margin: 0 auto;
        padding-top: 71px;
        width: 1220px;
    }
    .section-details__stage{
        width: 250px;
        min-height: 280px;
        margin-top: 31px;
    }
    .section-details__icon{
        margin-top: 40px;        
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: center;
        background-color: $basic-green;
        width: 80px;
        height: 80px;
    }
}