@media (min-width: 320px) and (max-width: 768px){
    .leaf{
        background-image: url("../../images/icon_leaf.svg");
    }
    .powder{
        background-image: url("../../images/icon-powder.svg");
    }
    .eat{
        background-image: url("../../images/icon_eat.svg");
    }
    .time{
        background-image: url("../../images/icon-time.svg");
    }
}

@media (min-width: 768px) and (max-width: 1440px){
    .leaf{
        background-image: url("../../images/icon_leaf.svg");
    }
    .powder{
        background-image: url("../../images/icon-powder.svg");
    }
    .eat{
        background-image: url("../../images/icon_eat.svg");
    }
    .time{
        background-image: url("../../images/icon-time.svg");
    }
    
    .one{
        background-image: url("../../images/one.svg");
        background-repeat: no-repeat;
        background-size: 112px 240px ;
        background-position: left 110px top 40px;
    }
    .two{
        background-image: url("../../images/two.svg");
        background-repeat: no-repeat;
        background-size: 134px 240px;
        background-position: left 110px top 40px;
    }
    .fhree{
        background-image: url("../../images/three.svg");
        background-repeat: no-repeat;
        background-size: 134px 240px;
        background-position: left 110px top 40px;
    }
    .four{
        background-image: url("../../images/four.svg");
        background-repeat: no-repeat;
        background-size: 134px 240px;
        background-position: left 110px top 40px;
    }
}

@media (min-width: 1440px){
    .leaf{
        background-image: url("../../images/icon_leaf.svg");
    }
    .powder{
        background-image: url("../../images/icon-powder.svg");
    }
    .eat{
        background-image: url("../../images/icon_eat.svg");
    }
    .time{
        background-image: url("../../images/icon-time.svg");
    }
    
    .one{
        background-image: url("../../images/one.svg");
        background-repeat: no-repeat;
        background-size: 112px 240px ;
        background-position: left 110px top 40px;
    }
    .two{
        background-image: url("../../images/two.svg");
        background-repeat: no-repeat;
        background-size: 134px 240px;
        background-position: left 110px top 40px;
    }
    .fhree{
        background-image: url("../../images/three.svg");
        background-repeat: no-repeat;
        background-size: 134px 240px;
        background-position: left 110px top 40px;
    }
    .four{
        background-image: url("../../images/four.svg");
        background-repeat: no-repeat;
        background-size: 134px 240px;
        background-position: left 110px top 40px;
    }
}