.section-details {
    margin-left: 20px;

    @media (min-width: $tablet-width) {
        margin-left: 0;
        border-bottom: 1px solid $special-grey-border;
        padding-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
        margin: 0 auto;
        padding-top: 31px;
        border-bottom: none;
        padding-bottom: 0;
    }
}

.section-details-container {
    width: 320px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
        width: 708px;
        margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
        width: 1220px;
        margin: 0 auto;
    }
}

.section-details__title {
    font-size: 36px;
    line-height: 40px;
    padding-bottom: 20px;

    @media (min-width: $tablet-width) {
        padding-top: 17px;
        padding-bottom: 32px;
        font-size: 60px;
        line-height: 60px;
    }

    @media (min-width: $desktop-width) {
        font-size: 60px;
        line-height: 60px;
        padding-bottom: 0;
    }
}

.section-details__stage-text {
    font-family: "lato", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    width: 200px;

    @media (min-width: $tablet-width) {
        font-size: 16px;
        line-height: 24px;
        padding-top: 31px;
        padding-bottom: 57px;
        width: 242px;
    }

    @media (min-width: $desktop-width) {
        font-size: 16px;
        line-height: 24px;
        padding-top: 15px;
        padding-bottom: 57px;
        width: 242px;
    }
}

.section-details__stageges {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: $tablet-width) {
        gap: 10px;
        margin-right: 79px;
    }

    @media (min-width: $desktop-width) {
        gap: 20;
        margin-right: 0;
    }
}

.section-details__stage {
    width: 280px;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    @media (min-width: $tablet-width) {
        width: 246px;
        flex-wrap: wrap;
        min-height: 280px;
        padding-top: 0;
        margin-bottom: 27px;
    }

    @media (min-width: $desktop-width) {
        min-height: 280px;
        margin-top: 50px;
        margin-bottom: 0;
    }
}

.section-details__icon {
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    background-color: $basic-green;
    width: 60px;
    height: 60px;

    @media (min-width: $tablet-width) {
        margin-top: 40px;
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: center;
        background-color: $basic-green;
        width: 80px;
        height: 80px;
    }

    @media (min-width: $desktop-width) {
        margin-top: 20px;
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: center;
        background-color: $basic-green;
        width: 80px;
        height: 80px;
    }
}