@media(min-width: 320px) and (max-width: 768px){
    .page__footer{
        width: 320px;
        min-height: 147px;
        background-color: #F2F2F2;
    }
    .page-footer__logo{
        padding: 40px 96px 20px 96px;
    }
    .social-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 280px;
        min-height: 22px;
        padding: 20px 74px;
        margin: 0 20px;
        border-top: 2px solid #D9D9D9;
        border-bottom: 2px solid #D9D9D9;
    }
    .social-list__link svg{
        width: 28px;
        height: 22px;
    }
    .page-footer__html{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 280px;
        margin: 20px;
        padding-bottom: 40px;
    }
}
@media(min-width: 768px) and (max-width: 1440px){
    .page__footer{
        display: flex;
        justify-content: space-between;
        width: 768px;
        min-height: 147px;
        padding: 55px 30px;
        background-color: #F2F2F2;
        align-items: center;
    }
    .social-list{
        display: flex;
        justify-content: space-between;
        width: 132px;
        height: 22px;
    }
    .social-list__link svg{
        width: 28px;
        height: 22px;
    }
    .page-footer__html{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 168px;
    }
} 
@media(min-width: 1440px){
    .page__footer{
        display: flex;
        justify-content: space-between;
        width: 1440px;
        min-height: 169px;
        padding: 66px 110px;
        background-color: #F2F2F2;
        align-items: center;
    }
    .social-list{
        display: flex;
        justify-content: space-between;
        width: 132px;
        height: 22px;
    }
    .social-list__link svg{
        width: 28px;
        height: 22px;
    }
    .page-footer__html{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 168px;
    }
}