.page__footer {
    min-height: 147px;
    background-color: $basic-grey;

    @media(min-width: 768px) {
        display: flex;
        justify-content: space-between;
        min-height: 147px;
        padding: 0 30px;
        background-color: $basic-grey;
        align-items: center;
    }

    @media(min-width: 1440px) {
        display: flex;
        justify-content: space-between;
        min-height: 169px;
        padding: 66px 110px;
        background-color: $basic-grey;
        align-items: center;
    }
}

.page__footer-container{
   @media(min-width: 768px){
   width: 708px;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
}
   @media(min-width: 1440px){
   width: 1220px;
   }
}

.page-footer__logo {
    padding: 40px 96px 20px 96px;
    display: block;
    text-align: center;

    &:hover {
        opacity: 80%;
    }

    &:active {
        opacity: 60%;
    }

    @media(min-width: 768px) {
        padding: 0;
    }
}

.social-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 22px;
    padding: 20px 74px;
    margin: 0 20px;
    border-top: 2px solid $special-grey-border;
    border-bottom: 2px solid $special-grey-border;

    @media(min-width: 768px) {
        display: flex;
        justify-content: space-between;
        width: 132px;
        height: 22px;
        border: none;
        padding: 0;
        margin-left: 62px;
    }

    @media(min-width: 1440px) {
        display: flex;
        justify-content: space-between;
        width: 132px;
        height: 22px;
        border: none;
        padding: 0;
        margin-left: 57px;
    }
}

.social-list__link svg {
    width: 28px;
    height: 22px;

    &:hover path {
        fill: $basic-green;
    }

    &:active path {
        fill: $basic-green;
        opacity: 30%;
    }

    @media(min-width: 768px) {
        width: 28px;
        height: 22px;
    }

    @media(min-width: 1440px) {
        width: 28px;
        height: 22px;
    }
}

.page-footer__html {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding-bottom: 40px;

    &:hover path {
        fill: $basic-green;
    }

    &:active path {
        fill: $basic-green;
        opacity: 30%;
    }

    @media(min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 168px;
        padding: 0;
        margin: 0;
    }

    @media(min-width: 1440px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 168px;
    }
}

.page__footer-text {
    font-family: "lato",Arial, sans-serif;
    color: $basic-black;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    @media (min-width: 768px) {
        font-size: 16px;
        line-height: 20px;
    }

    @media (min-width: 1440px) {
        font-size: 16px;
        line-height: 20px;
        padding-left: 5px;
    }
}