.page__header {
  display: block;
  border-bottom: 1px solid $special-grey-border;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    padding: 10px 0 0;
    border: none;
    width: 704px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    border: none;
    width: 1220px;
    margin: 0 auto;
  }
}

.page-header__logo {
  padding: 12px 0 0 20px;

  @media (min-width: $tablet-width) {
    width: 174px;
    margin-right: 94px;
    padding: 10px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 202px;
  }
}

.logo-link {
  height: 42px;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 202px;
  }
}

.logotype__text {
  width: 101px;
  transform: translateX(50%);

  @media (min-width: $tablet-width) {
    margin-left: 13px;
    margin-bottom: 0;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: 14px;
    padding-bottom: 0;
    width: 118px;
  }
}

.page-header__link {
  color: $basic-black;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}

.header__nav--closed {
  .page-header__list {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  .page-header__menu-button {
    background-image: url("../../icons/menu-mobile.svg");
    width: 24px;
    height: 24px;
  }
}

.header__nav--opened {
  .page-header__list {
    display: block;
    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  .page-header__menu-button {
    background-image: url("../../icons/close_mobile.svg");
    background-size: 18px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
}

.page-header__list {
  font-family: "oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  z-index: 2;
  background: $basic-white;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    width: 436px;
    min-height: 50px;
    background: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    line-height: 30px;
    width: 478px;
  }
}

.page-header__nav {
  position: relative;
}

.page-header__menu-button {
  border: none;
  position: absolute;
  right: 20px;
  top: -30px;
  bottom: 20px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__item {
  border-top: 1px solid $special-grey-border-2;
  padding: 22px 0 24px;

  @media (min-width: $tablet-width) {
    padding-left: 33px;
    padding-top: 30px;
    border-top: none;

    &:nth-child(1) {
      padding-left: 0;
      border-top: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 33px;
    padding-top: 25px;

    &-:nth-child(1) {
      padding-left: 0;
    }
  }
}

.list-current {
  border-bottom: 2px solid $basic-green;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic-green;
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $basic-white;
    padding-bottom: 6px;
  }
}


.page__body-index {
  @media (min-width: $desktop-width) {
    position: relative;
    &::after{
      content: "";
      position: absolute;
      display: block;
      width: 50%;
      height: 697px;
      right: 0;
      top: 0;
      background-image: url("../../images/main-back-cat@2x.jpg");
      background-repeat: no-repeat;
      background-color: #4E4F53;
      background-size: 1040px 697px;
      background-position: left 0 top 0;
      z-index: -1;
    }
  }
}

.page__main-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(90deg, $basic-white 50%, rgba(104, 183, 56, 0.85) 50%);
    background-repeat: no-repeat;
    background-size: 100% 697px;
  }
}
