.page__header{
    width: 320px;
    padding: 13px 20px;
  }
  .logo-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logotype__text{
    margin-left: 56px;
  }
  .page-header__link {
    color: $basic-black;
  }
  .page__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .page-header__list{
    display: none;
  }
  .page-header__menu-button{
    border: none;
    background-color: $basic-white;
  }


@media (min-width: 768px) and (max-width: 1440px){
  .page__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 705px;
    min-height: 50px;
    margin: 0 auto;
    padding-top: 25px;
  }
  .logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 174px;
    height: 50px;
  }  
  .logotype__text{
    margin-left: 13px;
  }
  .page-header__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: "oswald", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    width: 436px;
    min-height: 50px;
    
  }  
  .page-header__item{
    padding-left: 33px;
    &:nth-child(1){
      padding-left: 0;
    }
   }
  .page-header__link {
    color: $basic-black;
  }
  .list-current{
    border-bottom: 2px solid $basic-green;
    padding-bottom: 8px;
  }


  .page-header__menu-button{
    display: none;
  }
}

@media (min-width: 1440px){
  .logo-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 202px;
 }
 .logotype__text{
  margin-left: 14px;
}
  .page-header__link{
    color: $basic-white;
 }
  .page__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1220px;
  margin: 0 auto;
  padding-top: 55px;
 }
  .page-header__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
 }

 .page-header__item{
  padding-left: 33px;
  &-:nth-child(1){
    padding-left: 0;
  }
 }
  .list-current{
  border-bottom: 2px solid $basic-white;
  padding-bottom: 8px;
  }
  .page-header__menu-button{
    display: none;
  }
}


