.page-footer {
  min-height: 147px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 50px 30px 55px;
    background-color: $basic-grey;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    min-height: 169px;
    padding: 66px 110px;
    background-color: $basic-grey;
    align-items: center;
  }
}

.page-footer__container {
  @media (min-width: $tablet-width) {
    width: 708px;
    min-height: 37px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.page-footer__logo {
  padding: 40px 96px 15px;
  display: block;
  text-align: center;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 0 0;
  }
}

.page-footer__html-logo {
  mask-image: url("../../icons/stack.svg#logo-academy");
  background-color: $special-grey-2;
  width: 27px;
  height: 34px;
  cursor: pointer;

  &:hover {
    background-color: $basic-green;
  }
}

.page-footer__html {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding-bottom: 40px;

  &:hover path {
    fill: $basic-green;
  }

  &:active path {
    fill: $basic-green;
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 162px;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 168px;
  }
}

.page-footer__text {
  font-family: "lato", "Arial", sans-serif;
  color: $basic-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
    padding-left: 5px;
  }
}
