.section-offers {

  padding-bottom: 40px;
  border-top: 2px solid $basic-green;

  @media (min-width: $tablet-width) {
    border-top: 2px solid $basic-green;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 105px;
  }
}

.section-offers__container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
  }
}

.section-offers__title {
  font-family: "oswald", "Arial", sans-serif;
  font-weight: 400;
  margin-top: -20px;
  margin-bottom: 28px;
  text-align: center;
  background-color: $basic-white;
  width: 192px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-top: -15px;
    margin-bottom: 66px;
    width: 282px;
    margin-left: 30px;
    text-align: center;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    width: 333px;
    margin-bottom: 70px;
    margin-top: -20px;
    margin-left: 70px;
  }
}

.section-offers__text {
  font-family: "oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin: 0 auto;
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
  }
}
