.section-details {


  @media (min-width: $tablet-width) {
    margin-left: 0;
    border-bottom: 1px solid $special-grey-border;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding-top: 31px;
    border-bottom: none;
    padding-bottom: 0;
  }
}

.section-details__container {
  width: 300px;
  margin: 0 0 0 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.section-details__title {
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
    padding-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 0;
  }
}

.section-details__stage-text {
  font-family: "lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 200px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 31px;
    padding-bottom: 57px;
    width: 242px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 35px;
    padding-bottom: 57px;
    width: 242px;
  }
}

.section-details__stageges {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    gap: 10px;
    margin-right: 79px;
  }

  @media (min-width: $desktop-width) {
    gap: 20;
    margin-right: 0;
  }
}

.section-details__stage {
  width: 280px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    width: 246px;
    flex-wrap: wrap;
    display: block;
    min-height: 280px;
    padding-top: 0;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    min-height: 280px;
    margin-top: 50px;
    margin-bottom: 0;
  }
}

.section-details__icon {
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  background-color: $basic-green;
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    background-color: $basic-green;
    width: 80px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    background-color: $basic-green;
    width: 80px;
    height: 80px;
  }
}

.leaf {
  background-image: url("../../icons/stack.svg#icon_leaf");
}

.powder {
  background-image: url("../../icons/stack.svg#icon-powder");
}

.eat {
  background-image: url("../../icons/stack.svg#icon_eat");
}

.time {
  background-image: url("../../icons/stack.svg#icon-time");
}

@media (min-width: $tablet-width) {
  .leaf {
    background-image: url("../../icons/stack.svg#icon_leaf");
  }

  .powder {
    background-image: url("../../icons/stack.svg#icon-powder");
  }

  .eat {
    background-image: url("../../icons/stack.svg#icon_eat");
  }

  .time {
    background-image: url("../../icons/stack.svg#icon-time");
  }

  .one {
    background-image: url("../../icons/stack.svg#one");
    background-repeat: no-repeat;
    background-size: 112px 230px;
    background-position: left 105px top 40px;
  }

  .two {
    background-image: url("../../icons/stack.svg#two");
    background-repeat: no-repeat;
    background-size: 134px 230px;
    background-position: left 112px top 40px;
  }

  .fhree {
    background-image: url("../../icons/stack.svg#three");
    background-repeat: no-repeat;
    background-size: 134px 230px;
    background-position: left 115px top 40px;
  }

  .four {
    background-image: url("../../icons/stack.svg#four");
    background-repeat: no-repeat;
    background-size: 134px 225px;
    background-position: left 120px top 40px;
  }
}

@media (min-width: $desktop-width) {
  .leaf {
    background-image: url("../../icons/stack.svg#icon_leaf");
  }

  .powder {
    background-image: url("../../icons/stack.svg#icon-powder");
  }

  .eat {
    background-image: url("../../icons/stack.svg#icon_eat");
  }

  .time {
    background-image: url("../../icons/stack.svg#icon-time");
  }

  .one {
    background-image: url("../../icons/stack.svg#one");
    background-repeat: no-repeat;
    background-size: 112px 230px;
    background-position: left 105px top 20px;
  }

  .two {
    background-image: url("../../icons/stack.svg#two");
    background-repeat: no-repeat;
    background-size: 134px 230px;
    background-position: left 112px top 20px;
  }

  .fhree {
    background-image: url("../../icons/stack.svg#three");
    background-repeat: no-repeat;
    background-size: 134px 230px;
    background-position: left 114px top 20px;
  }

  .four {
    background-image: url("../../icons/stack.svg#four");
    background-repeat: no-repeat;
    background-size: 134px 230px;
    background-position: left 120px top 20px;
  }
}
