.weight {
    background-image: url("../../icons/stack.svg#cat_back-1");
    background-repeat: no-repeat;
    background-size: 67px 50px;
    background-position: top 24px left 13px;

    @media (min-width: $tablet-width) {
        background-size: 268px 225px;
        background-position: top 78px right 30px;
    }

    @media (min-width: $desktop-width) {
        background-size: 134px 100px;
        background-position: top 47px left 33px;
    }
}