.section-products {
   @media (min-width:1440px) {
      margin-bottom: 71px;
      width: 1220px;
      margin: 0 auto;
   }
}

.section-products__title {
   font-size: 36px;
   line-height: 36px;
   padding: 27px 0 41px 20px;

   @media (min-width: 768px) {
      font-size: 60px;
      line-height: 60px;
      padding: 65px 0 84px 30px;
   }

   @media (min-width: 1440px) {
      font-size: 60px;
      line-height: 60px;
      padding: 74px 0 84px 110px;
   }
}

.product-card--list {
   display: flex;
   flex-wrap: wrap;

   @media(min-width: 768px) {
      gap: 60px;
      margin-left: 30px;
      width: 708px;
   }

   @media (min-width: 1440px) {
      gap: 80px;
      width: 1220px;
      margin: 0 auto;
   }

}

.product-card__item {
   display: flex;
   flex-wrap: wrap;
   width: 320px;
   padding: 20px 20px 0 20px;
   border-top: 1px solid $basic-grey;

   &:last-child {
      border-bottom: 1px solid $basic-grey;
   }

   @media(min-width: 768px) {
      width: 324px;
      border: none;
      padding: 0;
      min-height: 511px;
      background: linear-gradient(180deg, $basic-white 16%, $basic-grey 0%);
   }

   @media (min-width: 1440px) {
      width: 245px;
      border: none;
      padding: 0;
      min-height: 511px;
      background: linear-gradient(180deg, $basic-white 16%, $basic-grey 0%);
   }

}

.product-card__item img {
   width: 140px;
   height: 107px;
   padding: 3px 28px;

   @media(min-width: 768px) {
      width: 200px;
      height: 210px;
      margin-bottom: 22px;
      margin-left: 62px;
      padding: 0;
   }

   @media (min-width: 1440px) {
      width: 172px;
      height: 210px;
      margin-left: 38px;
      margin-bottom: 10px;
      padding: 0;
   }
}

.product-card__wrapper {

   @media(min-width: 768px) {
      margin: 0 auto;
   }

   @media (min-width: 1440px) {
      margin: 0 auto;
   }
}

.product-card__title {
   font-family: "oswald", Arial, sans-serif;
   font-weight: 400;
   text-transform: uppercase;
   width: 76px;
   font-size: 16px;
   line-height: 20px;
   padding-bottom: 16px;

   @media(min-width: 768px) {
      font-size: 20px;
      line-height: 24px;
      margin: 0 auto;
      width: 135px;
      text-align: center;
      margin-bottom: 20px;
   }

   @media (min-width: 1440px) {
      font-size: 20px;
      line-height: 24px;
      margin: 0 auto;
      width: 140px;
      text-align: center;
      margin-bottom: 23px;
   }

}

.product-card__text {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   font-family: "lato", Arial, sans-serif;
   font-weight: 400;
   width: 140px;
   font-size: 12px;
   line-height: 16px;

   @media(min-width: 768px) {
      width: 250px;
      font-size: 16px;
      line-height: 20px;
      border-bottom: 1px solid $special-grey-border;
      margin-bottom: 5px;
      padding-bottom: 5px;
   }

   @media (min-width: 1440px) {
      width: 169px;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      border-bottom: 1px solid $special-grey-border;
      margin-bottom: 5px;
      padding-bottom: 4px;
   }
}

.product-card__button {
   margin-bottom: 25px;
   margin-top: 17px;

   &:hover {
      background-color: $basic-green-2;
   }

   &:active {
      background-color: $basic-green-2;
      color: rgba(255, 255, 255, 0.3);
   }

   @media(min-width: 768px) {
      margin-bottom: 40px;
      margin-left: 37px;
      margin-top: 32px;
   }

   @media (min-width: 1440px) {
      margin-top: 32px;
      margin-left: 38px;
   }
}

.more-product-card {
   background: none;
   position: relative;
}

.more-product-card__wrapper {
   width: 280px;

   @media(min-width: 768px) {
      width: 324px;
      height: 432px;
      border: 2px solid $basic-grey;
      position: absolute;
      bottom: 0;
   }

   @media (min-width: 1440px) {
      width: 245px;
      height: 431px;
      border: 2px solid $basic-grey;
      position: absolute;
      bottom: 0;
   }
}

.more-product-card__title {
   font-family: "oswald", Arial, sans-serif;
   font-weight: 400;
   margin: 0 auto;
   text-align: center;
   text-transform: uppercase;
   font-size: 16px;
   line-height: 20px;
   margin-bottom: 8px;

   @media(min-width: 768px) {
      font-size: 20px;
      line-height: 24px;
      width: 134px;
      margin-bottom: 23px;
   }

   @media (min-width: 1440px) {
      font-size: 20px;
      line-height: 24px;
      width: 140px;
      margin-bottom: 26px;
   }

}

.more-product-card__text {
   font-family: "lato";
   font-weight: 400;
   margin: 0 auto;
   text-align: center;
   font-size: 12px;
   line-height: 16px;
   padding-bottom: 21px;

   @media(min-width: 768px) {
      width: 169px;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 82px;
   }

   @media (min-width: 1440px) {
      width: 169px;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 80px;
   }
}

.more-product-card__more-button {
   font-family: "oswald", Arial, sans-serif;
   font-weight: 400;
   text-transform: uppercase;
   border-style: none;
   background-color: $basic-grey;
   color: $special_dark-grey;
   padding: 10px 95px;
   width: 280px;
   font-size: 16px;
   line-height: 20px;
   margin-bottom: 20px;

   &:hover {
      background-color: $special_grey-3;
   }

   &:active {
      background-color: $special_grey-3;
   }

   @media(min-width: 768px) {
      width: 250px;
      padding: 10px 80px;
      font-size: 16px;
      line-height: 20px;
      margin-left: 37px;
      margin-bottom: 0;
   }

   @media (min-width: 1440px) {
      width: 169px;
      padding: 10px 39px;
      font-size: 16px;
      line-height: 20px;
      margin-left: 38px;
      margin-bottom: 0;
   }

}

.more-product-card__svg {
   margin: 5px 125px 20px 125px;
   width: 30px;
   height: 30px;

   @media(min-width: 768px) {
      width: 60px;
      height: 60px;
      margin-top: 50px;
      margin-left: 132px;
      margin-bottom: 50px;
   }

   @media (min-width: 1440px) {
      width: 60px;
      height: 60px;
      margin-top: 50px;
      margin-left: 92px;
      margin-bottom: 40px;
   }
}